@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,900&display=swap');

.grayFontColor{
    color: rgba(53,63,85,255);
}

.orangeFontColor{
    color: rgba(255,173,24,255);
}

.violetFontColor{
    color: rgba(147,26,255,255);
}

.headingFontStyle{
    font-family: 'Noto Sans', sans-serif;
    font-size: 5em;
    
}
.bgImg{
    background-image: url('../../../assets/images/img1.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position:bottom;
}

.row{
    height: 100%;
}