<div>
    <div class="row vh-100">

        <div class="col-12 bg-img-menu">
            <app-navbar></app-navbar>
            
            <br>
            <div class="text-center"><h1>Hey {{firstName}}!</h1><br></div>
            <div class="text-center">
                <div class="row justify-content-center">
                    <div class="col-md-2 px-0 py-0 m-1">
                        <button class="border-0 fw-bold text-white book-button rounded-3 m-0" routerLink="/acc/book">Book a ride</button>
                    </div>

                    
                    <div class="col-md-2 px-0 py-0 m-1">
                        <button class="border-0 fw-bold text-white offer-button rounded-3 m-0" routerLink="/acc/offer">Offer a ride</button>
                    </div>


                </div>
            </div>
        </div>
      
    </div>
</div>