.bg-img-menu{
    background-image: url('../../../assets/images/menu.png');
    background-repeat: no-repeat;
    background-size:90% 70%;
    background-position: top 100% left 50%;
}

.book-button{
    background-color: rgba(147,26,255,255);
    padding:5%;
    font-size: 1.5rem;
}

.offer-button{
    background-color: rgba(255,173,24,255);
    padding:5%;
    font-size: 1.5rem;
}