<div>
    <div class="row vh-100">

        <div class="col-12 border border-secondary bg-img-menu">
            <app-navbar></app-navbar>
            
            <br>
            <div class="text-center"><h1>Hey {{loginResponseData.firstName}}!</h1><br></div>
            <div class="text-center">
                <button class="border-0 fw-bold text-white book-button m-2 rounded-3" routerLink="/acc/book">Book a ride</button>
                <button class="border-0 fw-bold text-white offer-button m-2 rounded-3" routerLink="/acc/offer">Offer a ride</button>
            </div>
        </div>
      
    </div>
</div>