<div>
    <div class="row m-0 p-0">
        <div class="col border border-secondary">
            <div class="row">
                    <div>
                        <h1 class="grayFontColor headingFontStyle"> TURN <span class="orangeFontColor">MILES</span></h1>
                        <h1 class="grayFontColor headingFontStyle">INTO <span class="violetFontColor">MONEY</span></h1>
                    </div>
                    <h4 class="grayFontColor">RIDES ON TAP</h4>
                    <div>image placeholder</div>
            </div>
        </div>
  
        <div class="col border border-danger m-0 p-0">
          <div>LogIn</div>
        </div>
      
    </div>
  </div>