<div>
    <div class="row vh-100">

        <div class="col-12 bg-img-menu">
            <!-- <img src="../../../assets/images/logo.png" class="img-fluid my-4 ms-5" alt=""> -->
            <div class="d-flex flex-row justify-content-between">
                <img src="../../../assets/images/logo.png" class="img-fluid my-4 ms-5" alt="">
                
                <span>
                    <span class="fw-bold">hi</span>
                    <span class="my-4 me-5 fw-bold"> {{this.loginResponseData.firstName}}</span>
                    <img src="../../../assets/images/logo.png" class="img-fluid my-4 me-5" alt="">
                </span>
            </div>
            
            <div class="row">
                <!-- Actual body of page -->
    
                <div class="col-2">
                    <!-- dummy col -->
                </div>


                    <div class="col-12 pb-0 mx-1" *ngIf="!enableMenu2">
                        <!-- menu 1 -->

                        <div class="row"> 
                            <div class="col-4 px-5 m-auto">
                                <div class="pb-3">
                                    <app-offer-menu1 (menu1Event)="respondToMenu1Event($event)" (offerObjTransferEvent)="respondToOfferObjTransferEvent($event)"  ></app-offer-menu1>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-12 pb-0" >
                        <!-- menu 2 -->

                        <div class="row" *ngIf="enableMenu2">
                            <div class="col-4 px-5 m-auto">
                                <div class="pb-3">
                                    <app-offer-menu2 [offerRequest]="offerRequest"></app-offer-menu2>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                    
                </div>
            
        </div>
      
    </div>
</div>