.parent-div {
  height: 150px;
}

.card {
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.headings {
  font-size: 0.7rem;
}

// .time-button{
//     border: 1px solid rgba(147,26,255,255);
//     font-size: smaller;
// }

.time-button:focus {
  border: 1px solid rgba(147, 26, 255, 255);
  color: white;
  background-color: rgba(147, 26, 255, 255);
}

.submit-button {
  color: white;
  background-color: rgba(255, 173, 24, 255);
}

.input-box:focus {
  // border-bottom-color: rgba(73,144,226,255);
  box-shadow: none;
}

.time {
  border: 1px solid rgba(147, 26, 255, 255);
  font-size: smaller;
}

.time:hover {
  border: 1px solid rgba(147, 26, 255, 255);
  color: white;
  background-color: rgba(147, 26, 255, 255);
}

.time:focus {
  border: 1px solid rgba(147, 26, 255, 255);
  color: white;
  background-color: cornflowerblue;
}

.next {
  color: rgba(147, 26, 255, 255);
}

.add-stop:active {
  margin-top: 2px;
  color: darkgray;
  padding: 2px;
}

.submit-button {
  color: white;
  background-color: rgba(255, 173, 24, 255);
}

.seat-count {
  border-radius: 100%;
  color: gray;
  border: 1px solid rgb(131, 130, 130);
}

.seat-count:hover {
  color: white;
  background-color: rgba(147, 26, 255, 255);
  border: 1px solid white;
  cursor: pointer;
}

.seat-count:focus {
  color: white;
  background-color: rgba(147, 26, 255, 255);
  border: 1px solid white;
}

.price-input{
width:100px;
box-shadow: none;
}

.price-input:focus{
  outline: none;
}