<div class="row vh-100">

    <div class="col-12 bg-img-menu">
        <app-navbar></app-navbar>
        
        <div class="col-12">
            <!-- Main body   -->

        <!-- <div class="row mb-3">
            <div class="col-6 col-sm-12 text-center"><p class="offered-rides mx-auto my-2">Offered Rides</p></div>
            <div class="col-6 col-sm-12 text-center"><p class="booked-rides mx-auto my-2">Booked Rides</p></div>
        </div> -->
            <div class="row overflow-auto">
                 
                <div class="col-xs-12 col-sm-12 col-md-6 text-center">
                    <p class="offered-rides mx-auto my-2">Offered Rides</p>
                    <div class="offered-cards">
                        <br>
                        <div class="parent-div">
                            <div class="mx-auto col-7 my-3" *ngFor="let offer of myOffers" >
                                <app-booking-card [currentMatch]="offer"></app-booking-card>
                            </div>
                        </div>
                        
                    </div>
                </div>
    
                <div class="col-xs-12 col-sm-12 col-md-6 text-center">
                    <p class="booked-rides mx-auto my-2">Booked Rides</p>
                    <div class="booked-cards ">
                        <br>
                        <div class="parent-div">
                            <div class="mx-auto col-7 my-3" *ngFor="let booking of myBookings" >
                                <app-offer-card [currentMatch]="booking"></app-offer-card>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>    
            
    
        </div>
    
    </div>
    
</div>