<p>my-rides works!</p>

<div>
    <div class="row vh-100">

        <div class="col-12 border border-secondary bgImgMenu">
            <!-- <img src="../../../assets/images/logo.png" class="img-fluid my-4 ms-5" alt=""> -->
            <div class="d-flex flex-row justify-content-between">
                <img src="../../../assets/images/logo.png" class="img-fluid my-4 ms-5" alt="">
                
                <span>
                    <span class="fw-bold">hi</span>
                    <span class="my-4 me-5 fw-bold">{{this.loginResponseData}}</span>
                    <img src="../../../assets/images/logo.png" class="img-fluid my-4 me-5" alt="">
                </span>
            </div>
            

            
        </div>
      
    </div>
</div>