.bg-img-menu{
    background-image: url('../../../assets/images/ride.png');
    background-repeat: no-repeat;
    background-size:90% 70%;
    background-position: top 100% left 50%;
}

.offeredRides{
    background-color: rgba(147,26,255,255);
    color: white;
    width: 10rem;
    padding: 1rem;
    border-radius: 5px;
}

.bookedRides{
    background-color: rgba(255,173,24,255);
    color: white;
    width: 10rem;
    padding: 1rem;
    border-radius: 5px;
}