@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,900&display=swap');

.grayFontColor{
    color: rgba(53,63,85,255);
}

.orangeFontColor{
    color: rgba(255,173,24,255);
}

.violetFontColor{
    color: rgba(147,26,255,255);
}

.headingFontStyle{
    font-family: 'Noto Sans', sans-serif;
    font-size: 5em;
}

.bgImgCover{
    background-image: url('../../../assets/images/cover.png');
    background-repeat: no-repeat;
    background-size:90% 50%;
    background-position: top 100% left 50%;
}

.tagLine{
    letter-spacing: 3px;
}

.bgImgLogin{
    background-image: url('../../../assets/images/authentication.png');
    background-repeat: no-repeat;
    background-size:100% 90%;
    background-position: top 100% left 50%;
}

.bgColorTint{
    background-color:rgba(255,173,24,255);
}

.submitButton{
    background-color: rgba(147,26,255,255);
}