.bgImgMenu{
    background-image: url('../../../assets/images/ride.png');
    background-repeat: no-repeat;
    background-size:90% 70%;
    background-position: top 100% left 50%;
    // border: none;
}

.yourMatches{
    color: rgba(147,26,255,255);
    font-weight: 800;
}