<div class="card p-1">
    <div class="row">
        <div class="col-12 mb-2">
            <!-- heading, tagline -->
            <h1 class="m-3 ms-4 mb-0 h3">Book a Ride</h1>
            <small class="ms-4 my-0 text-muted">we get you the matches asap!</small>
        </div>

        <div class="col">
            <!-- toggle button -->
        </div>
    </div>

    <div class="row p-3">

        <div class="col">
            <!-- body of menu -->
            <form id="bookingForm" #bookingForm="ngForm" (ngSubmit)="submitForm(bookingForm)">

                <div class="form-floating mb-3">
                    <input list="locationList1" type="text"
                        class="form-control input-box border-0 border-primary border-bottom rounded-0" id="from"
                        placeholder="From" minlength="3" maxlength="20" required
                        name="from" #from ngModel (change)="mapLocFrom(from.value)" autocomplete="off">
                    <label for="from" class="text-muted">From</label>
                    <datalist id="locationList1">
                        <option *ngFor="let location of locations" value="{{location.name}}">
                    </datalist>
                </div>

                <div class="form-floating mb-3">
                    <input list="locationList2" type="text"
                        class="form-control input-box border-0 border-primary border-bottom rounded-0" id="to"
                        placeholder="to" minlength="3" maxlength="20" required name="to"
                        #to ngModel (change)="mapLocTo(to)">
                    <label for="to" class="text-muted">To</label>
                    <datalist id="locationList2">
                        <option *ngFor="let location of locations" value="{{location.name}}">
                    </datalist>
                </div>

                <div class="form-floating mb-3">
                    <input type="date" class="form-control input-box border-0 border-primary border-bottom rounded-0"
                        id="date" placeholder="date" minlength="3" maxlength="20" required
                        name="date" #date="ngModel" [(ngModel)]="bookingRequest.date">
                    <label for="date" class="text-muted">Date</label>
                </div>


                <div>
                    <div class="text-muted ms-2">Time</div>
                    <input type="radio" class="btn-check time" name="radioGroup" value="5am-9am" id="time1"
                        [(ngModel)]="bookingRequest.time" #time1="ngModel">
                    <label class="btn rounded-4 m-2 time" for="time1">5am - 9am</label>

                    <input type="radio" class="btn-check time" name="radioGroup" value="9am-12pm" id="time2"
                        [(ngModel)]="bookingRequest.time" #time2="ngModel">
                    <label class="btn rounded-4 m-2 time" for="time2">9am - 12pm</label>

                    <input type="radio" class="btn-check time" name="radioGroup" value="12pm-3pm" id="time3"
                        [(ngModel)]="bookingRequest.time" #time3="ngModel">
                    <label class="btn rounded-4 m-2 time" for="time3">12pm - 3pm</label>

                    <input type="radio" class="btn-check time" name="radioGroup" value="3pm-6pm" id="time4"
                        [(ngModel)]="bookingRequest.time" #time4="ngModel">
                    <label class="btn rounded-4 m-2 time" for="time4">3pm - 6pm</label>

                    <input type="radio" class="btn-check time" name="radioGroup" value="6pm-9pm" id="time5"
                        [(ngModel)]="bookingRequest.time" #time5="ngModel">
                    <label class="btn rounded-4 m-2 time" for="time5">6pm - 9pm</label>
                </div>


                <button type="submit" class="btn mt-4 m-2 rounded-4 submit-button fw-bold">Submit</button>

            </form>


        </div>
    </div>
</div>