<div class="d-flex flex-row justify-content-between">
    <img src="../../../assets/images/logo.png" class="img-fluid my-4 ms-5" alt="">
    
    <span class="dropdown">
        <span class="fw-bold">hi</span>
        <span class="my-4 me-5 fw-bold"> {{this.loginResponseData.firstName}}</span>
        <img src="../../../assets/images/logo.png" class="img-fluid my-4 me-5 profile-logo" data-bs-toggle="dropdown" alt="">

        <div class="dropdown-menu ms-3 navbar-menu rounded-0 m-0 p-0 pb-0 text-center">
            <h5 class="dropdown-item navbar-item p-2">Profile</h5>
            <h5 class="dropdown-item navbar-item p-2">My Rides</h5>
            <h5 class="dropdown-item navbar-item p-2" >Logout</h5>    
        </div>
    </span>
</div>

