<div class="d-flex flex-row justify-content-between">
    <img src="../../../assets/images/logo.png" class="img-fluid my-4 ms-5 app-logo pointer" alt="" routerLink="/acc/menu">
    
    <span class="dropdown">
        <span class="my-4 me-3 fw-bold username"> {{this.firstName}}</span>
        <img src="../../../assets/images/profilepic.png" class="img-fluid my-4 me-5 profile-logo pointer" data-bs-toggle="dropdown" alt="">

        <div class="dropdown-menu ms-3 navbar-menu rounded-0 m-0 p-0 pb-0 text-center">
            <h5 class="pointer dropdown-item navbar-item p-2" routerLink="/acc/profile">Profile</h5>
            <h5 class="pointer dropdown-item navbar-item p-2" routerLink="/acc/myrides">My Rides</h5>
            <h5 class="pointer dropdown-item navbar-item p-2" (click)="logout()" routerLink="/auth/login" >Logout</h5>    
        </div>
    </span>

</div>

